-if current_user.blank?
  .text-center
    =link_to new_user_session_path do
      .btn.btn-success
        Log In
  .text-center
    =link_to new_user_registration_path do
      .btn.btn-success
        Sign Up

-if current_user
  =link_to "My Projects", projects_path
