.l-container
  %header.l-header
    %h1.text-center=@project.name

  %main.l-content
    .state-container
      .state.state-standby
        =image_tag('waiting.gif', class: 'center-block img-responsive')
        .state-message
          %h2 sin actividad zzzzz...
      .state.state-inprogress.hide-soft
        =image_tag('loading.gif', class: 'center-block img-responsive')
        .state-message
          %h2 push it push it

      .state.state-success.hide-soft
        =image_tag('congratulation.gif', class: 'center-block img-responsive')
        .state-message
          %h2 Deploy exitoso!

      .state.state-error.hide-soft
        =image_tag('not-today.gif', class: 'center-block img-responsive')
        .state-message
          %h2 ¡eres un programador bamba!


    .ranking
      .ranking-header
        .ranking-col Nombre
        .ranking-col Nº Push
        .ranking-col Nº Fallas
        .ranking-col Nº Exitos

      .ranking-body
        -# Generar loop desde aqui
        .ranking-user
          .ranking-col.ranking-col--avatar
            Boliche
          .ranking-col
            111
          .ranking-col
            17
          .ranking-col
            111

        .ranking-user
          .ranking-col.ranking-col--avatar
            Tuco
          .ranking-col
            2
          .ranking-col
            68
          .ranking-col
            32

        .ranking-user
          .ranking-col.ranking-col--avatar
            Pellote
          .ranking-col
            22
          .ranking-col
            345
          .ranking-col
            82
